<div class="post">
    <div class="card">
        <div class="card-header jusify-space-between">
            <a href="/post/{{post.id}}"></a>
            <h2>{{post.postTitle}}</h2>
            <div>
                Posted by {{post.user.username}} on {{format_date post.createdAt}}
            </div>
        </div>
        <div class="card-body">
            {{post.postContent}}
        </div>
    </div>


    {{#if post.Comments}}
    <section>
        <div class="card-header">
            <h3>Comments</h3>
        </div>
        {{#each post.Comments}}

        <div>
            <p>{{commentContent}}</p>
            <p>
                &mdash; {{user.username}}, {{format_date createdAt}}
            </p>
        </div>
        {{/each}}

    </section>

    {{/if}}



    <form id="new-comment-form" class="card">
        <div class="card-header">
            <h3>Add a Comment</h3>
        </div>

        <div class="card-body">
            <input type="hidden" name="post-id" value="{{post.id}}" />

            <label class="form-label" for="comment-body">Comment</label>

            <textarea name="comment-body" class="form-input"></textarea>

            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>

<script src="/js/comment.js"></script>